.panel{
    background-color: black;
    width: 600px;
    height: 30px;
}

.screen{
    /* background-color: blue; */
    width: 600px;
    height: 300px;
}


.flex{
    flex-direction: row;
     /* color: black; */
     display: flex;
     font-size: xx-large;
     justify-content: center;
    }
    
    .first{
        background-color: aqua;
        padding: 40px; 
        margin: 40px;
        border: 40px;
    
    
    }
    